/* MARQUEE SECTION*/
.box_1{
    background-color: #6F5A4B;
    height: 35px;
    width: 100%;                                    /* THIS IS THE TEXT FLOWING ON TOP OF THE SCREEN*/
    color: #E9E9EA;
    padding: 5px;
    border: 1px solid #E9E9EA;

}
/* 
*{
    margin: 0;
    padding: 0;
} */
/* MARQUEE SECTION*/
/*NAVBAR SECTION*/
img{
    height: 76px;                                                               /* THIS IS THE COFFEE IMAGE LOGO IN THE NAVBAR*/
}

nav{
    color: #6F5A4B;
    /* border: 2px solid black;                        THE COLOR OF THE TEXT INSIDE THE NAVBAR */
}

.dropdown-item{
    color: #6F5A4B;
}

#txt{
    color: #6F5A4B;
}
/*NAVBAR SECTION*/

.img{
    height: 25rem;                  /* ALL THE IMAGES DISPLAYED ON THE FIRST SECOND AND THIRD SECTION HEIGHT IS ADJUSTED HERE WITH CLASS AS IMG*/ 
}

.img-container{
    /* border: 2px solid forestgreen; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    flex-wrap: wrap;
    width: 100%;
    
    
    /* gap: 40px; */                                                    /* THIS IS TO GIVE GAP BETWEEN THE IMAGES*/
    
}

/* FIRST LINE COFFEE IMAGES SECTION*/
.img-container-1{
    margin-top: 10px;;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    flex-wrap: wrap;
    
    /* gap: 40px; */                                                    /* This is to give gap between the images*/
    
}
/* FIRST LINE COFFEE IMAGES SECTION*/

/* OUR BEST SELLERS SECTION*/
.txt{
    text-align: center;
    font-size: xx-large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;      
    color: #6F5A4B;
}
/* OUR BEST SELLERS SECTION*/

/* SECOND LINE COFFEE IMAGES SECTION*/
.img-container-2{
    margin-top: 10px;;
    /* border: 2px solid blueviolet; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    flex-wrap: wrap;
    
    /* gap: 40px; */                                                    /* This is to give gap between the images*/
    
}

.imagebox p{
    text-align: center;
}

/* SECOND LINE COFFEE IMAGES SECTION*/

.backimg{
    width: 100%;
    height: 50rem;
    filter: blur(3px);                           /* This will blur the image we have selected */
    border: 2px solid #E9E9EA;
  
}


.text-overlay {
    position: absolute;
    color: white;                                                       /* Adjust text color for readability */
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

/* OUR STORY SECTION */
.container-3{
    text-align: center;
    color: #6F5A4B;
    font-size: xx-large;
}


.container-3 p{
    font-size: small;
}
/* OUR STORY SECTION */

footer {
    background-color: #6F5A4B;
    color: #E9E9EA;                                         /* This is the footer section */
    text-align: center;
    padding: 15px;
    border: 2px solid #E9E9EA;

}